/* rtl.css */
p, li, ul, h1, h2, h3, h4 {
    direction: rtl; 
    text-align: right;
}

/* .cell:has(img) {
    direction: rtl;
} */

:root {
    --pst-font-family-base: "Alef", sans-serif; /* optional: Hebrew font */
}

/*
 .bd-article-container {
    min-width: 59vw; 
}
*/
.bd-container__inner {
  min-width: 100vw;
}

.bd-sidebar-secondary {
  min-width: 17vw;
}

.section-nav {
  padding-right: 0;
}

.Quiz {
        direction: rtl !important;
        text-align:right !important;
}

/* Change admonition title font */
.admonition-title {
    font-family: inherit !important;
    font-weight: normal !important;   /* don't force all bold */
}

/* Only bold spans (from markdown **…**) should get bold */
.admonition-title strong,
.admonition-title b {
    font-weight: bold;
}


/* Change the NOTE admonition icon 
.admonition.note > .admonition-title::after {
  content: "📝 !important";   
}*/

/*.admonition.custom-style {
    background-color: #DCE7FC;
    color: #800080;
    border-left: 5px solid #4682b4;
    padding: 10px;
    margin-bottom: 1em;
    direction: rtl; 
    text-align: right;
} */


